<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>List of product</h1>
  
          <div class="table-responsive p-4">
           
            <table class="table table-md align-items-center table-flush table-hover" id="dataTableHover">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Product Name</th>
                  <th>created since </th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td>1</td>
                  <td><a href="#">SPARE PARTS</a></td>
                                    
                  <td>July 16, 2023, 3:53 p.m.</td>
                 
                  <td>
                    <a data-toggle="modal" data-target="#productDetailViewModal9fc5b122-e399-4bab-bc1a-3c046757bb64" class="btn btn-sm btn-outline-primary text-primary"><i class="fas fas fa-eye"></i></a>
                    <a  data-toggle="modal" data-target="#updateproductModal9fc5b122-e399-4bab-bc1a-3c046757bb64"
                    class="btn btn-sm btn-outline-warning"  ><i class="fas fas fas fa-pen"></i></a>
                    <a  data-toggle="modal" data-target="#deleteProductModal" class="btn btn-sm btn-outline-danger"><i class="fas fas fas far fa-trash-alt"></i></a>
                  </td>
                </tr>

               
                <tr>
                  <td>2</td>
                  <td><a href="#">BUSH</a></td>
                                    
                  <td>July 16, 2023, 3:56 p.m.</td>
                 
                  <td>
                    <a data-toggle="modal" data-target="#productDetailViewModal58163442-849a-4e1a-b47b-e9cd23bc53aa" class="btn btn-sm btn-outline-primary text-primary"><i class="fas fas fa-eye"></i></a>
                    <a  data-toggle="modal" data-target="#updateproductModal58163442-849a-4e1a-b47b-e9cd23bc53aa"
                    class="btn btn-sm btn-outline-warning"  ><i class="fas fas fas fa-pen"></i></a>
                    <a  data-toggle="modal" data-target="#deleteProductModal" class="btn btn-sm btn-outline-danger"><i class="fas fas fas far fa-trash-alt"></i></a>
                  </td>
                </tr>

               
                <tr>
                  <td>3</td>
                  <td><a href="#">BRAKE</a></td>
                                    
                  <td>July 16, 2023, 3:57 p.m.</td>
                 
                  <td>
                    <a data-toggle="modal" data-target="#productDetailViewModale39ba552-7461-4786-afc6-fe0223782f31" class="btn btn-sm btn-outline-primary text-primary"><i class="fas fas fa-eye"></i></a>
                    <a  data-toggle="modal" data-target="#updateproductModale39ba552-7461-4786-afc6-fe0223782f31"
                    class="btn btn-sm btn-outline-warning"  ><i class="fas fas fas fa-pen"></i></a>
                    <a  data-toggle="modal" data-target="#deleteProductModal" class="btn btn-sm btn-outline-danger"><i class="fas fas fas far fa-trash-alt"></i></a>
                  </td>
                </tr>

               
              </tbody>
            </table>
          </div>
  
</body>
</html>