<div class="tabe_section" style="margin: -22px;padding:0px;">
  <div class="container-fluid m-0">
    <div class="row">
      <div class="col-xl-12 col-lg-12 mb-4 col-md-12">
        <div class="card" >
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-danger">My Store Status</h6>
            <!-- <button type="button" class="btn  btn-outline-primary" data-toggle="modal" data-target="#orderModal"
            id="#orderModal"><i class="fas fa-plus p-1"></i>New Order</button>
            <button type="button" class="btn  btn-outline-primary" data-toggle="modal" data-target="#emergenceModal"
            id="#emergenceModal"><i class="fas fa-plus p-1"></i>Emergence</button>
            <button type="button" class="btn  btn-outline-primary" data-toggle="modal" data-target="#salesModal"
            id="#salesModal"><i class="fas fa-plus p-1"></i>New Sells</button> -->
          </div>
          {% if get_all_product_sold %}
          <div class="table-responsive pl-2">
            <table class="table align-items-center table-flush table-hover" id="dataTableHover">
              <thead class="" style="background-color: #000;color:#fff;">
                <tr>
                  <th>#</th>
                  <th>Product </th>
                 
                  
                  <!-- <th>product remain in store</th> -->
                  <th>store remain</th>
                  <!-- <th>Sold by</th> -->
                  <!-- <th>phone no1</th> -->
                  <!-- <th>shop</th> -->
                  <!-- <th>store remain</th> -->
                  <th>Observe</th>
                </tr>
              </thead>
              <tbody>
                {% for product_sold in get_all_product_sold %}
                <tr style="background-color: #000;color:#fff;"> 
                  <td>{{forloop.counter}}</td>
                  <td ><a href="#" style="color:#fff;">{{product_sold.product_name}}</a></td>
                  
                

                  <!-- <td>{{product_sold.total_product_cost }}</td> -->
                  
                  
                  
                  <td>{{product_sold.product_quantity}}</td>
                  <!-- <td>{{product_sold.date_product_sold | safe }}</td> -->
                  <!-- <td>{{product_sold.supervisor.employee_Full_name}}</td> -->
                  <!-- <td>{{product_sold.supervisor.employee_phone_number1}}</td> -->
                  <!-- <td>{{product_sold.shop_name.shop_name}}</td> -->
                  <td>
                    <a data-toggle="modal" data-target="#productSoldDetailViewModal{{product_sold.id}}" class="btn btn-sm btn-outline-primary text-primary"><i class="fas fas fa-eye"></i></a>
                    <!-- update button is here  -->
                    <!-- <a  data-toggle="modal" data-target="#updateproductSoldModal{{product_sold.id}}"
                    class="btn btn-sm btn-outline-warning"  ><i class="fas fas fas fa-pen"></i></a> -->
                    <!-- <a  data-toggle="modal" data-target="#deleteProductSoldModal" class="btn btn-sm btn-outline-danger"><i class="fas fas fas far fa-trash-alt"></i></a> -->
                  </td>
                </tr>
                {% include './deleteProductSoldModal.html' %}
                {% include './productSoldDetailViewModal.html' %}
                {% include './updateproductSoldModal.html' %}
               {% endfor %}
          
              </tbody>
            </table>
          </div>
          {% endif %}
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include './salesModal.html' %}
{% include './orderModal.html' %}
{% include './emergenceModal.html' %}