{% extends '../store/base.html' %}
{% load static %}
{% block title %} partial-paid-invoices{% endblock %}
{% block content %}

<div class="container">
 
  <div class="row">
      <div class="col-md-12">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Partial Paid Invoices (PPI) </h1>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Partial Paid Invoices (PI)</li>
              </ol>
            </div>
          <hr class="sidebar-divider">

      </div>
  </div>
</div>


<div class="tabe_section ">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-xl-12 col-lg-12 mb-4">
          <div class="card">
           
            {% if get_partial_paid_invoices %}
            <div class="table-responsive pl-2">
              <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                <thead class="" style="background-color: #808080;color:#fff;">
                  <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th>Customer </th>
                    <th>Product </th>
                    <th>@ cost</th>
                    <th>QTY</th>
                    <th>Total cost</th>
                    <!-- <th>product remain in store</th> -->
                    <th>Invoice #</th>
                    <th>Status</th>
                    <!-- <th>Sold by</th> -->
                    <!-- <th>phone no1</th> -->
                    <!-- <th>shop</th> -->
                    <!-- <th>store remain</th> -->
                   
                  </tr>
                </thead>
                <tbody>
                  {% for profoma in get_partial_paid_invoices %}
                  <tr style="background-color: #808080;color:#fff;">
                    {% comment %} <td>{{forloop.counter}}</td> {% endcomment %}
                    <td><a href="#" style="background-color: #808080;color:#fff;">{{profoma.customer_full_name}}</a></td>
                    <td><a href="#" style="background-color: #808080;color:#fff;">{{profoma.product_name}}</a></td>
                    
                    <td>{{profoma.product_name.sales_price}}</td>
  
                    <!-- <td>{{profoma.total_product_cost }}</td> -->
                    
                    
                    <td>{{profoma.number_of_product_nedeed}}</td>
                    <td>{{profoma.total_product_cost}}</td>
                    <td>{{profoma.invoice_number}}</td>
                    <td>
                      <code style="color:#000;background:#fff;padding:5px">{{profoma.invoice_status}} </code>  
                    </td>
                    <!-- <td>{{profoma.date_profoma | safe }}</td> -->
                    <!-- <td>{{profoma.supervisor.employee_Full_name}}</td> -->
                    <!-- <td>{{profoma.supervisor.employee_phone_number1}}</td> -->
                    <!-- <td>{{profoma.shop_name.shop_name}}</td> -->
                  
                  </tr>
                  {% include './cancelprofomaInvoiceModal.html' %}
                  {% include './askToPrintprofoma.html' %}
                  {% comment %} {% include './productSoldDetailViewModal.html' %} {% endcomment %}
                  {% comment %} {% include './updateproductSoldModal.html' %} {% endcomment %}
                 {% endfor %}
            
                </tbody>
              </table>
            </div>
            {% else %}
             <p style="padding:60px;100px;margin:10px 20px;text-align:center;border:1px dotted #000;">  No records for Item Paid partial From Invoices  </p>
          
            {% endif %}
            <div class="card-footer"></div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
